body
{
  background-color: #191f36;
}
*{
  color: #ffffff;
}

  table, th,tr, td{
    border: 1px solid;
  }
 div b{
color:#3C6E71;
}
#name {
     color: #ee6c4d;
}
.contact{
  color: #f05f3b;
}
.education{
  color: #f05f3b;
}