body{
  background-color:rgb(25, 31, 54)
}

*{
  color: #ffffff;
}
fieldset{
    width: 40%; 
     border: 1px solid black;
}       
 h1 {
text-align: center;
}
h2{
  color: #3d6675;
}
h3{
  color: #3d6675;
}
    .form-input {
      color: black;
      margin: 10px 0;
      padding: 8px;
      border: 1px solid #ccc;
    }
    #submit-button {
      background-color: blue;
      color: white;
      padding: 10px 20px;
      border: none;
      cursor: pointer;
    }
    #contact{
      color: #696565;
    }
    div h2{
      color: #3d6675;
    }