body{
    background-color:rgb(25, 31, 54)
}
*{
    color: #ffffff;
  }
table,tr , th,td{
    border :1px solid #ffffff ;
    border-collapse: collapse ;
}
/* th, td{ 
    background-color: rgba(185,179,165,5);
} */
div h2{
    color: #5d3781;
}