body{
      background-color:rgb(25, 31, 54);
      width: 36%;
      height: 40%; }

*{
   color: #ffffff;
 }
#submit-button {
    background-color: blue;
    color: #ffff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    color: width 36px; 
   }

    .feedback{
      background-color: black;
    padding: 20px; 
    border-radius: 25px; /* Rounded corners */
    
    }
    div h1{
color:#3d6675;
    }